@import 'variables.scss';

html {
    background-color: #F9FAFF;
}

*:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}